body {
    background-color: seagreen;
  }

  .seashell {
      color: seashell;

  }

  p {

background-color: slateblue;
  }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        td {
            background-color: tomato;
        }
